/* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 8px auto;
	max-width: auto;
	font-family: "Lato";
	color: #333;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

.card {
	padding: 1em;
}
//**FORMILARIO DE REGISTRO//
.form-register {
	background-color: rgb(255 255 255/70%);
	margin: auto;
	width: 90%;
	max-width: 400px;
	margin-top: 20px;
	padding: 5px 30px;
	border-radius: 8px;
	box-shadow: 0 5px 10px -5px rgb(0 0 0/80%);
	text-align: center;
}
h2 {
	font-size: 25px;
}
.register-title {
	font-size: rem;
	margin-bottom: 0.5em;
	color: #000;
}

.form-container {
	margin-top: 3em;
	display: grid;
	gap: 2.5em;
	color: #000;
}

.form-group {
	position: relative;
	margin-top: 6px;
	color: #000;
}

.form-input {
	width: 100%;
	color: #000;
	font-size: 1rem;
	margin-top: 6px;
	padding: 6em 3em;
	border: none;
	outline: none;
	border-bottom: 1px solid #ff56a7;
}

.form-register .fomr-label {
	color: #999;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 5px;
}

.form-btn {
	background-color: #ff56a7;
	color: white;
	font-family: "Roboto Flex", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: 0.8em 0;
	border: none;
	border-radius: 0.5em;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 40px 0;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 15px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 600px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
	margin-right: 10px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

.btn-cart-end {
	display: flex;
	justify-content: space-between;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 50%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.3s ease;
}

.btn-clear-all:hover {
	background-color: #333;
	transform: scale(1.03);
	boder-radius: 0;
}

.btn-shop {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 50%;
	margin-top: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.3s ease;
}

.btn-shop:hover {
	background-color: #333;
	transform: scale(1.03);
	boder-radius: 0;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 15px;
	font-weight: 600;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.count-products-card {
	background-color: #ff56a7;
	color: #fff;
	width: 40px;
	height: 40px;

	display: center;
	justify-content: center;
	align-items: center;
	border-radius: 20%;
	text-align: center;
}

/* CATEGORY MENU  */

.category-container {
	margin: 10px;
	padding: 5px;
	margin-top: 5px;
	border-radius: 8px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.category-container img {
	margin-bottom: 10px;
}

.menu-title {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	margin: 10px;
}

.text-menu {
	text-align: center;
	font-size: 20px;
}

.greeting {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin: 5px;
}

.text-nav {
	text-align: center;
	font-size: 18px;
	margin: 5px;
	padding: 2px;
}

/* footer */

.container-footer {
	min-height: 200px;
	background-color: rgba(25, 247, 243, 0.4);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}

.footer {
	grid-area: footer;
	display: block;
	bottom: 0;
	width: 100%;
}

.section-copyright {
	background-color: rgba(250, 247, 243, 0.53);
	border-top: 1px solid #676b6e;
	color: #ff56a7;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin: 0;
	text-align: center;
	padding: 2rem 0;
}

.text-footer {
	text-display: flex;
}

/*product detail*/
.product-detail-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 15px;
	box-shadow: 0 5px 10px -5px rgb(0 0 0/80%);
}

.product-images {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product.main {
	display: flex;
	align-items: center;
}

.product-images img {
	width: 150px;
	margin: 10px;
	border: none;
	transition: transform 0.3s ease-in-out;
}

.product-images img:hover {
	transform: scale(2);
}

.product-info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}

.product-info h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.product-info p {
	font-size: 16px;
	margin-bottom: 5px;
}

.text-input {
	font-size: 20px;
}

.text-title-card {
	font-size: 9px;
}

.subtext {
}
.price-card-detail {
	font-size: 30px;

	font-family: Tahoma;
	color: #ff56a7;
}
